{% extends "basepagina.html" %}
{% load static %}

{% block content %}

    <p></p>
    
    <div class="row">
        {% for cat in categorias %}
        <div class="card mb-3">
            <img src="{% static 'deporte.png' %}" class="card-img-top" alt="..." height="400">
            <div class="card-body">
              <h5 class="card-title">{{cat.nombre}}</h5>
              <p class="card-text">{{cat.descripcion}}</p>
              <a class="btn btn-outline-success" href="{% url 'main-view' %}" role="button">Jugar</a>
            </div>
        </div>
        
        {% endfor %}
 
    </div>

{% endblock %}

<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>