* {
    margin: 0;
}

body {
    height: 100%; }

body {
    background: url(fondoweb.jpg) no-repeat center center fixed;
    background-size: cover;}

.not-visible {
    display: none;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
#main {
    flex: 1 0 auto;
}

/* Animacion de card */

.contenedor-card {
    margin: auto;
}

.card-categoria {
    overflow: hidden;
    height: 300px;
    width: 100%;
    border: 1px solid white;
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
}
.card-categoria:hover{
    height: 420px;
    transition: all .4s ease-in-out;
}

.card-body-categoria {
    height: 20px;
}