{% load static %}
<!DOCTYPE html>
<html lang="es-AR">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GRUPO N°9 INFORMATORIO</title>
    <link rel="icon" href="{% static 'info.ico' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&amp;display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&amp;display=swap" media="print" onload="this.media='all'"/>
    <noscript>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&amp;display=swap"/>
    </noscript>
    <link href="{% static 'css2/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css2/font-awesome/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'css2/main.css' %}" rel="stylesheet">
  </head>
  <body id="top"><div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          {% if messages %}
              {% for message in messages %}
              <div class="alert alert-success" role="alert">
                  {{message}}
                </div>
              {% endfor %}
          {% endif %}
          <div class="masthead-brand" style="text-align: left"><img src="{% static 'logoinfo.png' %}" width="80" />Bienvenidos</div>
          <nav class="nav nav-masthead">
            <a class="nav-link nav-social" href="https://www.facebook.com/informatorio/" target="_blank" title="Facebook"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
            <a class="nav-link nav-social" href="https://twitter.com/InformatorioCh" target="_blank" title="Twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
            <a class="nav-link nav-social" href="https://www.instagram.com/informatorio/?hl=es-la" target="_blank" title="Instagram"><i class="fab fa-instagram" aria-hidden="true"></i></a>
          </nav>
        </div>
      </div>
      <div class="cover">
        <img src="{% static 'img/chaco.png' %}"  height="210" width="650"/>
      </div>      
      <div class="inner cover">
        <p class="lead cover-copy">70° Aniversario de la provincialización del CHACO.</p>
        <p class="lead"><button type="button" onclick="location.href='login'" class="btn btn-lg btn-default btn-notify">Ingresar</button>
          <button onclick="location.href='register'" type="button" class="btn btn-lg btn-default btn-notify">Registrar</button></p>
      </div>
      <div class="mastfoot">
        <div class="inner">
          <p>&copy; INFORMATORIO.  <a href="https://github.com/DavidCassiet/Proyecto-Final" target="_blank">Grupo N° 9</a>.</p>
          <img  src="{% static 'img/logoss.png' %}"/>
        </div>
      </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{% static 'scripts/jquery.slim.min.js' %}"></script>
    <script src="{% static 'scripts/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'scripts/main.js' %}"></script>
  </body>
  
</html>